/* main section */
.main-section {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:92%;
    max-width: 600px;
    height: 540px;
    background-color: #fdf9f9;
    box-shadow:  0 10px 22px rgba(0, 0, 0, 0.06);
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    margin: 20px auto;
    margin-top: 100px;
    box-sizing: border-box;
}

.profile-pict {
    max-width: 100%;
    width: 290px;
    height: auto;
    border-radius: 30px;
    border: 1px solid #b7b7b7;
    padding: 5px;

}

.main-section h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: #666;
}


.subtitle {
    font-size: 1.1rem;
    color:#666;
    margin-top: -1rem;
    margin-bottom: 2rem;
    word-spacing: 20px;
}

.main-section button{
    padding: 12px 28px;
    border-radius: 10px;
    background-color: #ffa20d;
    border: none;
    font-size: 1rem;
    transition: transform 0.3s ease, background-color 0.15s ease;
}

.main-section button:hover{
    background-color: #d8961af4;
    transform: tarnslateY(-2px);
}

.hidden{
    display: none;
}
/* horizontal lines */
#menu-icon {
    position: fixed;
    font-size: 1.6rem;
    cursor: pointer;
    top: 2px;
    right: 0;
    z-index: 1;
    color: rgb(219, 151, 26);
    width: 40px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content:center;
    right: 17px;
}
#menu-icon:hover {
    border-radius:8px;
    background-color:rgb(219, 151, 26, 10%);
}
/* sidebar */
.sidebar{
    position: fixed;
    background-color: black;
    height:100vh;
    width: 220px;
    top:0;
    right:0;
    transform: translateX(320px);
    transition: transform 0.1s ease;
    display: flex;
    padding: 4rem 3rem;
    border: none;
    border-radius: 20px 0 0 20px;
}

.sidebar button{
    background: none;
    border: none;
    color: white;
    font-size: 1.3rem;
    text-align: left;
    cursor: pointer;
    opacity: 0.5;
    letter-spacing: 0.02rem;
}

.sidebar button:hover {
    opacity: 1;
}

.open .sidebar{
    transform: translateX(0);
    flex-direction: column;
    gap: 1.3rem;
    justify-content:center;
    right: 0;
}
/* main content */
.section-content{
    display: none;
    max-width: 600px;
    margin: 4rem auto;
    padding: 3rem;
    background-color: #fdf9f9;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    box-shadow:  0 4px 20px rgba(0, 0, 0, 0.06);
}
.section-content h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color:  #db971af4;
}


.section-content p {
    font-size: 1.05rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 1.2rem;
}

.section-content.active{
    display: block;
}

/* stack */
.stack-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.stack-list li {
    display: flex;
    gap: 0.6rem;
    border: 1px solid #e0e0e0;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-size: 0.95rem;
}

/* contact me */
.contact-list a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #1a1a1a;
}

.contact-list a:hover {
    color: #db971af4;
}

@media (max-width: 768px) {
    .subtitle {
        font-size: 0.85rem;
        word-spacing: 2px;
        margin-top: -0.5rem;
    }

    .home-content-container {
        height: 400px;
    }

    .profile-pict {
        margin-top: 7px;
        width: 180px;
        height: auto;
        padding: 10px;
        border-radius: 50%;
    }

    .main-section h1 {
        font-size: 1.6rem;
    }

    .open .sidebar {
        position: fixed;
        top: -1;
        left: 0;
        width: 100%;
        height: auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 12px 0;
        z-index: 1000;
        border-radius: 10px ;
    }

    .menu-icon {
        display: none;
    }


    .sidebar button {
        color: white;
        font-size: 0.70rem;
        cursor: pointer;
        opacity: 0.5;

    }

    .sidebar button:active {
        opacity: 1;

    }
    

    #about {
        padding: 20px;
        height: 290px;
    }

    .section-content h2 {
        font-size: 1.19rem;
    }
}